<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row footer">
             <!-- Logo a la izquierda -->
             <div class="col-md-4 col-12 text-center text-md-left mb-3 mb-md-0 d-flex align-items-center justify-content-center justify-content-md-start">
                <a class="navbar-brand" href="/src/index.html"> <img src="./assets/images/logo-footer.png" alt="Logo"></a>
            </div>
            

            <!-- Columna de navegación -->
            <div class="col-md-4">
                <ul class="footer navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/src/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/src/guanyadors.html">Guanyadors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/src/blog.html">Blog </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/src/participa.html">Participa</a>
                    </li>
                </ul>
            </div>
           <!-- Columna de redes sociales -->
           <div class="col-md-4 col-12 text-center text-md-right mb-3 mb-md-0">
            <ul class="footer__social social d-flex justify-content-md-end justify-content-center align-items-center">
                <li class="social__item"><a href="#" class="social__link" title="Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li class="social__item"><a href="#" class="social__link" title="Instagram"><i class="fa-brands fa-square-instagram"></i></a></li>
                <li class="social__item"><a href="#" class="social__link" title="YouTube"><i class="fa-brands fa-square-youtube"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>