{
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-order"],
  "rules": {
      "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
      "declaration-property-unit-allowed-list": {
          "/^border/": ["px"],
          "/^padding|^gap/": ["rem"]
      },
      "unit-allowed-list": ["%", "deg", "px", "rem", "ms", "em", "fr", "vh", "vw"],
      "order/properties-alphabetical-order": true
  }
}
